/* Custom styles added to demo */

.twitter-tweet {
    margin: auto;
}

iframe {
    border-radius: var(--radius) !important;
}

.home-info ul {
    padding-inline-start: 20px;
}

.entry-cover img {
    border: 1px solid var(--border);
}


.note-bq{
    border-inline-start: 3px solid #4493f8 !important;
}

.note{
    color:#4493f8;
    fill:#4493f8;
}

.tip-bq{
    border-inline-start: 3px solid #3fb950 !important;
}

.tip{
    color:#3fb950;
    fill:#3fb950;
}

.important-bq{
    border-inline-start: 3px solid #ab7df8 !important;
}

.important{
    color:#ab7df8;
    fill:#ab7df8;
}

.warning-bq{
    border-inline-start: 3px solid #d29922 !important;
}

.warning{
    color:#d29922;
    fill:#d29922;
}

.caution-bq{
    border-inline-start: 3px solid #f85149 !important;
}

.caution{
    color:#f85149;
    fill:#f85149;
}

.custom-bq-title{
    display:flex;
    align-items: center;
    line-height: 1;
}

.octicon{
    margin-right: 0.5rem;
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
}